<html>
<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @{
        if (TempData["ShowAlert"] != null)
        {
            <script>
                swal("Narudžba uspješno izvršena!", "Vaša narudžba je uspješno dodana na spisak. Mailom ćete biti obaviješteni kada volonter preuzme narudžbu","success");
            </script>
        }
    }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');

        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins';
            background: #0F3643;
        }

        .login-box {
            position: absolute;
            top: 50%;
            left: 75%;
            width: 400px;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: rgba(0,0,0,.5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
        }

            .login-box h2 {
                margin: 0 0 30px;
                padding: 0;
                color: #fff;
                text-align: center;
            }

            .login-box .user-box {
                position: relative;
            }

                .login-box .user-box input {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 30px;
                    border: none;
                    border-bottom: 1px solid #fff;
                    outline: none;
                    background: transparent;
                }

                .login-box .user-box label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    pointer-events: none;
                    transition: .5s;
                }

                .login-box .user-box input:focus ~ label,
                .login-box .user-box input:valid ~ label {
                    top: -20px;
                    left: 0;
                    color: #03e9f4;
                    font-size: 12px;
                }

            .login-box form a {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                color: #03e9f4;
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                transition: .5s;
                margin-top: 40px;
                letter-spacing: 4px
            }

            .login-box a:hover {
                background: #03e9f4;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
            }

            .login-box a span {
                position: absolute;
                display: block;
            }

                .login-box a span:nth-child(1) {
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, transparent, #03e9f4);
                    animation: btn-anim1 1s linear infinite;
                }

        @@keyframes btn-anim1 {
            0% {
                left: -100%;
            }

            50%, 100% {
                left: 100%;
            }
        }


        .login-box a span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #03e9f4);
            animation: btn-anim2 1s linear infinite;
            animation-delay: .25s
        }

        @@keyframes btn-anim2 {
            0% {
                top: -100%;
            }

            50%, 100% {
                top: 100%;
            }
        }

        .login-box a span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #03e9f4);
            animation: btn-anim3 1s linear infinite;
            animation-delay: .5s
        }

        @@keyframes btn-anim3 {
            0% {
                right: -100%;
            }

            50%, 100% {
                right: 100%;
            }
        }

        .login-box a span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: btn-anim4 1s linear infinite;
            animation-delay: .75s
        }

        label {
            color: #fff;
        }

        @@keyframes btn-anim4 {
            0% {
                bottom: -100%;
            }

            50%, 100% {
                bottom: 100%;
            }
        }

        .lijekoviContainer {
            position: absolute;
            top: 14.25%;
            left: 10%;
            width: 750px;
            padding: 40px;
            border: solid;
            max-height: 540px;
            overflow: scroll;
            background-color: white;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
        }

            .lijekoviContainer::-webkit-scrollbar {
                display: none;
            }

        .lijekovi {
            margin-bottom: 20px;
            border-bottom: solid;
            border-width: 1px;
            border-color: #CCCCCC;
        }

        img {
            width: 200px;
            margin-right: 20px;
        }

        .col-sm {
            position: relative;
            flex-grow: unset;
            padding: 0;
            margin-right: 29px;
            background-color: red;
            width: 310px;
            max-height: 500px;
        }

        .col {
            margin-bottom: 15px;
        }

        .cijena {
            font-size: 20pt;
            color: rgba(0,0,0,.5);
            margin: auto;
        }

        .naruci {
            margin: auto;
            color: rgba(0,0,0,.5);
        }

        button.webShop {
            padding-top: 5px;
            padding-bottom: 5px;
            border: none;
            outline: none;
            background-color: #FFD747;
            font-family: "Poppins";
            font-size: 18px;
            cursor: pointer;
            border-radius: 10px;
            width: 130px;
            padding-left: 0px;
            padding-right: 0px;
            /* text-align: right; */
        }
    </style>
</head>
<body>
    <form asp-controller="MedicineOrder" asp-action="OrderDone" method="get">
        <div class="login-box">
            <h2>Unesite lične podatke</h2>

            <div class="user-box">
                <input type="text" name="Name" required="">
                <label>Ime i prezime</label>
            </div>
            <div class="user-box">
                <input type="text" name="Telephone" required="">
                <label>Broj telefona</label>
            </div>
            <div class="user-box">
                <input type="text" name="Address" required="">
                <label>Adresa</label>
            </div>
            <div class="user-box">
                <input type="text" name="Email" required="">
                <label>E-mail</label>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" class="check" name="Emergency" value="true">
                    <label>Hitno</label>
                </div>
                <div class="col">
                    <button type="submit" class="webShop"><i class="fa fa-cart-plus"></i> &nbsp; Narudžba</button>
                </div>
            </div>


        </div>

        <div class="lijekoviContainer">


            @for (int i = 0; i < Model.Medicines.Count; i++)
            {
                <div class="row lijekovi">
                    <div class="col">
                        <img src="@Model.Medicines[i].Image" alt="Italian Trulli">
                    </div>
                    <div class="col cijena">
                        <p>@Model.Medicines[i].Description</p>
                    </div>
                    <div class="col naruci">
                        <h5>@Model.Medicines[i].Name</h5>
                        <input type="checkbox" class="check" name="Medicine" value=@Model.Medicines[i].Id>
                        <label class="naruci">naruči ovaj proizvod</label>
                    </div>
                </div>

            }

        </div>
    </form>

</body>
</html>