<html>
<head>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins';
            background-color: #0F3643;
        }

        section {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aliceblue;
        }

        .question {
            border-bottom: solid;
            border-width: 1px;
            border-color: #CCCCCC;
        }

        .container {
            max-width: 400px;
            width: 90%;
            padding: 20px;
            box-shadow: 0px 0px 25px #00000020;
            background-color: white;
            height: 650px;
            margin-top: 3%;
        }

        .step {
            display: none;
        }

        .godine {
            border-width: 1px;
            height: 30px;
            border-color: #CCCCCC;
            
        }

            .step.active {
                display: block;
            }

        .form-group {
            width: 100%;
            margin-top: 20px;
        }

            .form-group input {
                width: 100%;
                border: 1.5px solid rgba(128, 128, 128, 0.418);
                padding: 5px;
                font-size: 18px;
                margin-top: 5px;
                border-radius: 4px;
            }

        button.next-btn,
        button.previous-btn,
        button.submit-btn {
            float: right;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: none;
            outline: none;
            background-color: #FFD747;
            font-family: "Poppins";
            font-size: 18px;
            cursor: pointer;
            border-radius: 10px;
            width: 100px;
            padding-left: 0px;
            padding-right: 0px;
            /* text-align: right; */
        }

            button.previous-btn:hover {
                background-color: #FFE070;
            }

            button.submit-btn:hover {
                background-color: #4AB3D3;
            }

            button.next-btn:hover {
                background-color: #FFE070;
            }

        button.previous-btn {
            float: left;
        }

        button.submit-btn {
            background-color: #2C95B5;
        }
    </style>
</head>
<body>

        <div class="container">
            <form asp-controller="QuestionForm" asp-action="GetResults" method="post">

                <div class="step step-1 active">
                    <div >
                        <h4>Provjerite kolika je vjerovatnoća da ste COVID-19 pozitivni.</h4>
                        </br>
                        <h6>Da bi rezultati bili što tačniji, molimo Vas da unesete validne podatke.</h6>
                        <h6>Nakon dobijenih rezultata, pratite upute kako bi sačuvali svoje i zdravlje drugih.</h6>
                    </div>
                    </br>
                    </br>
                    <div class="question">
                        <label for="Age">Koliko imate godina?</label> </br>
                        <input class="godine" type="number" id="Age" name="Godine">
                        <div>
                            </br>
                        </div>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Spol:</p>
                        <input type="radio" id="male" name="Spol" value="M">
                        <label for="male">M</label></br>
                        <input type="radio" id="female" name="Spol" value="F">
                        <label for="female">Ž</label>
                    </div>
                    <button type="button" class="next-btn">Dalje</button>
                </div>

                <div class="step step-2">
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li ste bili van granica BiH u posljednjih 15 dana?</p>
                        <input type="radio" id="daPutovanje" name="Putovanje" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="nePutovanje" name="Putovanje" value="0">
                        <label>Ne</label>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li živite u mjestu sa mnogo COVID-19 oboljelih osoba?</p>
                        <input type="radio" id="daMjesto" name="Mjesto" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neMjesto" name="Mjesto" value="0">
                        <label>Ne</label>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li ste bili u kontaktu sa COVID-19 oboljelom osobom?</p>
                        <input type="radio" id="daKontakt" name="Kontakt" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neKontakt" name="Kontakt" value="0">
                        <label>Ne</label>
                    </div>
                    <button type="button" class="previous-btn">Nazad</button>
                    <button type="button" class="next-btn">Dalje</button>
                </div>

                <div class="step step-2">
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li pravilno nosite masku?</p>
                        <input type="radio" id="daMaska" name="Maska" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neMaska" name="Maska" value="0">
                        <label>Ne</label>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li ste već prebolovali COVID-19?</p>
                        <input type="radio" id="daBolovanje" name="Bolovanje" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neBolovanje" name="Bolovanje" value="0">
                        <label>Ne</label>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li ste se vakcinisali?</p>
                        <input type="radio" id="daVakcina" name="Vakcina" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neVakcina" name="Vakcina" value="0">
                        <label>Ne</label>
                    </div>
                    <button type="button" class="previous-btn">Nazad</button>
                    <button type="button" class="next-btn">Dalje</button>
                </div>

                <div class="step step-2">
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Da li imate neke hronične bolesti/upale?</p>
                        <p>(Dijabetes, astma, COPD, srčane bolesti...)</p>
                        <input type="radio" id="daHronicne" name="Hronicne" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neHronicne" name="Hronicne" value="0">
                        <label>Ne</label>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Primate li terapiju koja utječe na slabljenje vašeg imunog sistema?</p>
                        <p>(Hemoterapija, kortikosteroidi...)</p>
                        <input type="radio" id="daTerapija" name="Terapija" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neTerapija" name="Terapija" value="0">
                        <label>Ne</label>
                    </div>
                    <div>
                        </br>
                    </div>
                    <div class="question">
                        <p>Pripadate li nekoj rizičnoj skupini?</p>
                        <p>(Osobe starije od 50 god, trudnice...)</p>
                        <input type="radio" id="daRizicno" name="Rizicno" value="1">
                        <label>Da</label></br>
                        <input type="radio" id="neRizicno" name="Rizicno" value="0">
                        <label>Ne</label>
                    </div>
                    <button type="button" class="previous-btn">Nazad</button>
                    <button type="button" class="next-btn">Dalje</button>
                </div>

                <div class="step step-3">
                    <div>
                        </br>
                    </div>
                    <div>
                        <fieldset>
                            <legend>Označite simptome koje imate:</legend>
                            <input type="checkbox" name="Simptomi" value="1"> Temperatura<br>
                            <input type="checkbox" name="Simptomi" value="2"> Suh kašalj<br>
                            <input type="checkbox" name="Simptomi" value="3"> Malaksalost<br>
                            <input type="checkbox" name="Simptomi" value="4"> Bol u kostima i mišićima<br>
                            <input type="checkbox" name="Simptomi" value="5"> Gubitak čula mirisa<br>
                            <input type="checkbox" name="Simptomi" value="6"> Gubitak čula okusa<br>
                            <input type="checkbox" name="Simptomi" value="7"> Glavobolja<br>
                            <input type="checkbox" name="Simptomi" value="8"> Teško disanje<br>
                            <input type="checkbox" name="Simptomi" value="9"> Kratak dah<br>
                            <input type="checkbox" name="Simptomi" value="10"> Diareja<br>
                            <input type="checkbox" name="Simptomi" value="11"> Bol u prsima<br>
                            <input type="checkbox" name="Simptomi" value="12"> Otežano kretanje<br>
                            <input type="checkbox" name="Simptomi" value="13"> Gubljenje svijesti<br>
                            <input type="checkbox" name="Simptomi" value="14"> Bol u grlu<br>
                            <br>
                
                        </fieldset>
                    </div>

                    <button type="button" class="previous-btn">Nazad</button>
                    <button type="submit" class="submit-btn">Potvrdi</button>
                </div>

            </form>
        </div>

    <script>
        const steps = Array.from(document.querySelectorAll("form .step"));
        const nextBtn = document.querySelectorAll("form .next-btn");
        const prevBtn = document.querySelectorAll("form .previous-btn");
        const form = document.querySelector("form");

        nextBtn.forEach((button) => {
            button.addEventListener("click", () => {
                changeStep("next");
            });
        });
        prevBtn.forEach((button) => {
            button.addEventListener("click", () => {
                changeStep("prev");
            });
        });

       

        function changeStep(btn) {
            let index = 0;
            const active = document.querySelector(".active");
            index = steps.indexOf(active);
            steps[index].classList.remove("active");
            if (btn === "next") {
                index++;
            } else if (btn === "prev") {
                index--;
            }
            steps[index].classList.add("active");
        }

    </script>
</body>
</html>